<div style="height: 60px; width: 100%;"></div>
<nav class="ui borderless menu fixed shadow">
  <div class="ui container">
    <a class="brand item" href="/index">
      <%= image_tag("NCCU.png") %>
    </a>
    <div class="ui remote search item">
      <div class="ui icon input">
        <input class="prompt" placeholder="Remote search..." type="text" autocomplete="off">
      </div>
      <div class="results"></div>
    </div>


    <div class="right menu">

      <% if user_signed_in? %>
        <a class="item">
          <% if PersonalInfor.exists?(:schoolid => current_user.schoolid)  %>
            <% @info = PersonalInfor.find_by_schoolid(current_user.schoolid) %>
            <%= @info.name %>
          <% end %>
        </a>
      <% end %>

      <div class="ui dropdown item">
        <div class="text">功能</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/managecourse">
            選課管理
          </a>
          <a class="item" href="/info/index">
            個人資料
          </a>
          <a class="item" href="/users/edit">
            修改帳戶
          </a>
          <div class="divider"></div>
          <%= link_to destroy_user_session_path, method: :delete, class: "item" do %>
            登出
          <% end %>
        </div>

      </div>
    </div>
  </div>
</nav>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
